   <ion-view view-title="Chat Xavier Barrufet">
        
         
    
     
        <ion-scroll direction="y" style="top:10%;width: 100%;height: 70% !important;">
          
                <div class="missatge left">Lorem ipsum dolor sit amet, consectetur</div>
                    <div class="missatge right">adipiscing elit, sed</div>
                    <div class="missatge left">uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat?</div>
                <div class="missatge left">Ut enim ad minim veniam, quis nostrud</div>
 
              <div class="missatge right">olor in reprehenderit, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
                    
            </ion-scroll>
            
        </div>
<ion-content style="top:80%;">
      <div class="containerMissatge">   
            <div class="missageFoto"><span class="ion-camera"/></div>    
            <div class="texteMissatge">     
            </div>
            <div class="missageEnviar"><span class="ion-forward"/></div>  
        </div>
        </ion-content>   
         
    </ion-view>  

    