   <ion-view view-title="Clients">
          
    <ion-content class="has-header">
       <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search">
  </label>
</div>
    

        <div class="list">   
    
                <a class="item item-avatar item-button-right" href="#" >
                    <img src="../img/avatar1.jpg" ng-click="goToClientDetall()">
                    <h2>Xavier Barrufet</h2>
                    <div class="buttons">
                         <button class="button button-balanced" ng-click="showAlert('Trucant...')">
                          <i class="icon ion-ios-telephone"></i>
                        </button>
                        <button class="button button-energized" ng-click="goToChat()">
                          <i class="icon ion-chatbubble"></i>
                        </button>
                    </div>  
                </a>  
                 <a class="item item-avatar item-button-right" href="#">
                    <img src="../img/avatar2.jpg">
                    <h2>Laia Montfort</h2>
                    <div class="buttons">
                        <button class="button button-balanced" ng-click="showAlert('Trucant...')">
                          <i class="icon ion-ios-telephone"></i>
                        </button>
                        <button class="button button-balanced">
                          <i class="icon ion-chatbubble"></i>
                        </button>
                    </div>  
                </a>  
             <a class="item item-avatar item-button-right" href="#">
                    <img src="../img/avatar4.jpg">
                    <h2>Jordi Martinez</h2>
                    <div class="buttons">
                         <button class="button button-balanced" ng-click="showAlert('Trucant...')">
                          <i class="icon ion-ios-telephone"></i>
                        </button>
                        <button class="button button-balanced">
                          <i class="icon ion-chatbubble"></i>
                        </button>
                    </div>  
                </a>  
           
                   
       </div>
    </ion-content>   
        </ion-view>  