   <ion-view view-title="Tasques Setmana">
          
    <ion-content class="has-header">
       <div class="vistaSetmanaTaula" >
        <div class="vistaSetmanaFila">
            <div class="vistaSetmanaCela" ng-click="goToDiaView()">
                <div class="time vistaSetmana">
                    <div class="timeMes">24, Dilluns</div>
                </div>    
                <div class="tascaSetmana INCIDENCIA">Xavier Barrufet</div>
                <div class="tascaSetmana ALERTA">Jordi Martinez</div>
                <div class="tascaSetmana NORMAL" >Laia Montort</div>
            </div>
            <div class="vistaSetmanaCela" ng-click="goToDiaView()">
                <div class="time vistaSetmana">
                    <div class="timeMes">25, Dimarts</div>
                </div>  
                <div class="tascaSetmana NORMAL">Sean Oryel</div>
               
            </div>
            <div class="vistaSetmanaCela" ng-click="goToDiaView()">
                <div class="time vistaSetmana">
                    <div class="timeMes">26, Dimecres</div>
                </div>  
                <div class="tascaSetmana NORMAL">Xavier Barrufet</div>
                <div class="tascaSetmana NORMAL">Laia Montort</div>
              
            </div>
        
            <div class="vistaSetmanaCela" ng-click="goToDiaView()">
                <div class="time vistaSetmana">
                    <div class="timeMes">24, Dilluns</div>
                </div>    
                <div class="tascaSetmana INCIDENCIA">Xavier Barrufet</div>
                <div class="tascaSetmana ALERTA">Jordi Martinez</div>
                <div class="tascaSetmana NORMAL" >Laia Montort</div>
            </div>
            <div class="vistaSetmanaCela" ng-click="goToDiaView()">
                <div class="time vistaSetmana">
                    <div class="timeMes">25, Dimarts</div>
                </div>  
                 <div class="tascaSetmana NORMAL">Sean Oryel</div>
               
            </div>
            <div class="vistaSetmanaCela" ng-click="goToDiaView()">
                <div class="time vistaSetmana">
                    <div class="timeMes">26, Dimecres</div>
                </div>  
                <div class="tascaSetmana NORMAL">Xavier Barrufet</div>
                <div class="tascaSetmana NORMAL">Laia Montfort</div>
              
            </div>
        
       </div>
       
      </ion-content>    
             
         
          
        </ion-view>  