   <ion-view view-title="Tasques Setmana">
          
         <div class="ImatgeHeader">
            <span class="MainTitle">Task Garden</span>
          </div>
          
       
       <div class="vistaSetmanaTaula" >
        <div class="vistaSetmanaFila">
            <div class="vistaSetmanaCela" ng-click="goToDiaView()">
                <div class="time vistaSetmana">
                    <div class="timeMes">24, Dilluns</div>
                </div>    
                <div class="tascaSetmana INCIDENCIA">Xavier Barrufet</div>
                <div class="tascaSetmana ALERTA">Xavier Barrufet</div>
                <div class="tascaSetmana" >Xavier Barrufet</div>
            </div>
            <div class="vistaSetmanaCela" ng-click="goToDiaView()">
                <div class="time vistaSetmana">
                    <div class="timeMes">25, Dimarts</div>
                </div>  
                <div class="tascaSetmana">Xavier Barrufet</div>
               
            </div>
            <div class="vistaSetmanaCela" ng-click="goToDiaView()">
                <div class="time vistaSetmana">
                    <div class="timeMes">26, Dimecres</div>
                </div>  
                <div class="tascaSetmana">Xavier Barrufet</div>
                <div class="tascaSetmana">Xavier Barrufet</div>
              
            </div>
        
            <div class="vistaSetmanaCela" ng-click="goToDiaView()">
                <div class="time vistaSetmana">
                    <div class="timeMes">24, Dilluns</div>
                </div>    
                <div class="tascaSetmana INCIDENCIA">Xavier Barrufet</div>
                <div class="tascaSetmana ALERTA">Xavier Barrufet</div>
                <div class="tascaSetmana">Xavier Barrufet</div>
            </div>
            <div class="vistaSetmanaCela" ng-click="goToDiaView()">
                <div class="time vistaSetmana">
                    <div class="timeMes">25, Dimarts</div>
                </div>  
                <div class="tascaSetmana">Xavier Barrufet</div>
               
            </div>
            <div class="vistaSetmanaCela" ng-click="goToDiaView()">
                <div class="time vistaSetmana">
                    <div class="timeMes">26, Dimecres</div>
                </div>  
                <div class="tascaSetmana">Xavier Barrufet</div>
                <div class="tascaSetmana">Xavier Barrufet</div>
              
            </div>
        
       </div>
       
            
         
          
        </ion-view>  