   <ion-view view-title="Tasques">
          
         <div class="ImatgeHeader">
            <span class="MainTitle">Task Garden</span>
          </div>
          
        <!--  <time datetime="2014-09-20" class="icon">
                <em>Saturday</em>
                <strong>September</strong>
            <span>20</span>
        </time> -->
        
      
        <div class="time vistaDia">
                <div class="timeMes"><span>Septembre</span></div>
                <div class="timeDia"><spam>24</spam>, Dissabte</div>
                <div class="timeSetmana" ng-click="goToSetmanaView()">Setmana 32</div > 
        </div>   
       
        <ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)" >
        <ion-slide>           
          <div class="tasques" >
            <div class="container INCIDENCIA" ng-click="goToJardiView()">
                <div class="InfoJardi">  
                <h1>Xavier Barrufet</h1>
                <h3>Gava</h3>
                </div>
                <div class="Tasques">7</div>
                <div class="Marca">></div>  
            </div>
          
            <div class="container ALERTA" ng-click="goToJardiView()">
                <div class="InfoJardi">  
                    <h1>Jordi Martinez</h1>
                    <h3>Castelldefels</h3>
                </div>
                <div class="Tasques">7</div>
                <div class="Marca">></div>  
            </div>
          
           <div class="container" ng-click="goToJardiView()">
            <div class="InfoJardi">  
                <h1>Xavier Barrufet</h1>
                <h3>Gava</h3>
            </div>
            <div class="Tasques">7</div>
            <div class="Marca">></div>  
        </div>
        </div>      
        </ion-slide>    
         <ion-slide>   
             <div class="tasques">
          <div class="container">
            <div class="InfoJardi">  
                <h1>Xavier Barrufet</h1>
                <h3>Gava</h3>
            </div>
            <div class="Tasques">7</div>
            <div class="Marca">></div>  
        </div>
          
           <div class="container">
            <div class="InfoJardi">  
                <h1>Xavier Barrufet</h1>
                <h3>Gava</h3>
            </div>
            <div class="Tasques">7</div>
            <div class="Marca">></div>  
        </div>
          
           <div class="container">
            <div class="InfoJardi">  
                <h1>Xavier Barrufet</h1>
                <h3>Gava</h3>
            </div>
            <div class="Tasques">7</div>
            <div class="Marca">></div>  
                 </div>
        </ion-slide>   
            
        </ion-slide-box>    
          
        </ion-view>  