   <ion-view view-title="Missatges">
          
         <div class="ImatgeHeader">
            <span class="MainTitle">Task Garden</span>
          </div>
        
          
         
        <div class="tasques">
            <div class="containerClient">
              <div class="buttoBack" ng-click="goToClientList()"><span class="ion-chevron-left"/></div>     
                <div class="avatar">
                    <img src="../img/avatar1.jpg"/>                
                </div>                
                <div class="InfoJardi">  
                    <h1>Xavier Barrufet</h1>                
                </div>  
            </div>    
            
       </div>
        
        <div class="chat">
             <ion-scroll delegate-handle="small" style="height: 100%;">
           <div class="missatge left">Lorem ipsum dolor sit amet, consectetur</div>
              <div class="missatge right">adipiscing elit, sed</div>
              <div class="missatge left">uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat?</div>
                <div class="missatge left">Ut enim ad minim veniam, quis nostrud</div>

              <div class="missatge right">olor in reprehenderit, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
              <div class="missatge left">ok</div>
            </ion-scroll>
            
        </div>
     
           
          <div class="containerMissatge">   
            <div class="missageFoto"><span class="ion-camera"/></div>    
            <div class="texteMissatge">     
            </div>
            <div class="missageEnviar"><span class="ion-forward"/></div>  
        </div>
    </ion-view>  

    