 


<ion-view view-title="Detall Clients">
          
        <ion-content>Client Detall</ion-content>
         <div class="ImatgeHeader">
            <span class="MainTitle">Task Garden</span>
          </div>
        
          
        
        
       <div class="list" style="margin:10px;">   
    
                <a class="item item-avatar item-button-right" href="#" ng-click="goToClientDetall()">
                    <img src="../img/avatar1.jpg">
                    <h2>Xavier Barrufet</h2>
                    <div class="buttons">
                         <button class="button button-balanced" ng-click="showAlert('Trucant...')">
                          <i class="icon ion-ios-telephone"></i>
                        </button>
                        <button class="button button-energized" ng-click="goToChat()">
                          <i class="icon ion-chatbubble"></i>
                        </button>
                    </div>  
                </a>  
       
          <div class="tasques" >
            <div class="container INCIDENCIA" ng-click="goToJardiView()">
                <div class="InfoJardi">  
                <h1>22-12-2015</h1>
                <h3>Gava</h3>
                </div>
                <div class="Tasques"></div>
                <div class="Marca">></div>  
            </div>
          
            <div class="container" ng-click="goToJardiView()">
                <div class="InfoJardi">  
                    <h1>22-11-2015</h1>
                    <h3>Gava</h3>
                </div>
                <div class="Tasques"></div>
                <div class="Marca">></div>  
            </div>
          
           <div class="container" ng-click="goToJardiView()">
            <div class="InfoJardi">  
               <h1>22-10-2015</h1>
                <h3>Gava</h3>
            </div>
            <div class="Tasques"></div>
            <div class="Marca">></div>  
        </div>
        </div>
        </ion-view>  