   <ion-view view-title="Clients">
          
         <div class="ImatgeHeader">
            <span class="MainTitle">Task Garden</span>
          </div>
          
          <div class="tasques">
          <div class="containerCerca">
            <div class="InfoTasca">  
                <input type="text"/>
            </div>
            
            <div class="checkTasca"><span class="ion-search"/></div>  
        </div>
          
        </div>  
          
       <div class="time vistaDia">
                <div class="timeMes"><span>Clients</span></div>
       </div>   
        
        <div class="tasques">
            <div class="containerClient">
                <div class="avatar" ng-click="goToClientDetall()">
                    <img src="../img/avatar1.jpg"/>                
                </div>                
                <div class="InfoJardi" ng-click="goToClientDetall()">  
                    <h1>Xavier Barrufet</h1>                
                </div>
                <div class="clientIcons">
                    <div class="iconPhone"><span class="ion-ios-telephone"/></div>
                    <div class="iconMessage" ng-click="goToChat()">
                        <span class="ion-chatbubble"/>
                        <span class="badge badge-assertive numMessages">2</span>
                    </div>                  
                </div>    
            </div>    
             <div class="containerClient">
                <div class="avatar">
                    <img src="../img/avatar2.jpg"/>                
                </div>                
                <div class="InfoJardi">  
                    <h1>Laia Montfort</h1>                
                </div>
                <div class="clientIcons">
                    <div class="iconPhone"><span class="ion-ios-telephone"/></div>
                    <div class="iconMessage"><span class="ion-chatbubble"/></div>                  
                </div>    
            </div>    
             <div class="containerClient">
                <div class="avatar">
                    <img src="../img/avatar4.jpg"/>                
                </div>                
                <div class="InfoJardi">  
                    <h1>Jordi Martinez</h1>                
                </div>
                <div class="clientIcons">
                    <div class="iconPhone"><span class="ion-ios-telephone"/></div>
                    <div class="iconMessage">
                        <span class="ion-chatbubble"/></div>                  
                </div>    
            </div>    
             <div class="containerClient">
                <div class="avatar">
                    <img src="../img/avatar3.jpg"/>                
                </div>                
                <div class="InfoJardi">  
                    <h1>Sean Oryel</h1>                
                </div>
                <div class="clientIcons">
                    <div class="iconPhone"><span class="ion-ios-telephone"/></div>
                    <div class="iconMessage"><span class="ion-chatbubble"/></div>                  
                </div>    
            </div>    
       </div>
        </ion-view>  